---
const programmingAndMarkupLanguages = ["JavaScript", "PHP", "HTML", "CSS"];
const frameworksAndLibraries = ["React.js", "Redux", "Node.js", "Next.js", "JQuery", "Express", "Sequelize", "Prisma", "Firebase"];
const developmentAndTestingTools = ["OOP", "Testing (TDD)", "Jest", "Cypress", "Webpack", "GIT"];
const designAndPrototyping = ["Figma", "Spline 3D"];
const databases = ["MySQL", "MongoDB", "PostgreSQL", "Firebase"];
const otherTools = ["Ajax", "SASS", "Bootstrap", "Material UI", "Tailwind Css", "Wordpress", "Cloudinary", "Apache", "Working with REST APIs", "Working with SOAP APIs"];
const currentlyLearning = ["TypeScript"];

const skills = [
  { category: "Programming and Markup Languages", skills: programmingAndMarkupLanguages },
  { category: "Currently Learning", skills: currentlyLearning },
  { category: "Frameworks and Libraries", skills: frameworksAndLibraries },
  { category: "Development and Testing Tools", skills: developmentAndTestingTools },
  { category: "Design and Prototyping", skills: designAndPrototyping },
  { category: "Databases", skills: databases },
  { category: "Other Tools", skills: otherTools },
  
];

const skillClass = "bg-blue-100 text-blue-800 p-2 rounded-md m-1";
---

<div class="p-4">
  {skills.map((category) => (
    <div>
      <h3 class="font-bold text-xl mb-2">{category.category}</h3>
      <div class="flex flex-wrap">
        {category.skills.map((skill) => <span class={skillClass}>{skill}</span>)}
      </div>
    </div>
  ))}
</div>


<!-- ---
const skills = [
  "JavaScript",
  "PHP",
  "HTML",
  "CSS",
  "React.js",
  "Redux",
  "OOP",
  "Testing (TDD)",
  "Jest",
  "Cypress",
  "Webpack",
  "Figma",
  "Node.js",
  "Next.js",
  "JQuery",
  "Ajax",
  "SASS",
  "Bootstrap",
  "Material UI",
  "Tailwind Css",
  "Spline 3D",
  "Wordpress",
  "MySQL",
  "GIT",
  "Express",
  "Sequelize",
  "MongoDB",
  "PostgreSQL",
  "Prisma",
  "Firebase",
  "Cloudinary",
  "Apache",
  "Currently learning: Typescript",
];

const skillClass = "bg-blue-100 text-blue-800 p-2 rounded-md m-1";
---


<div class="p-1">
  <div class="flex flex-wrap">
    {skills.map((skill) => <span class={skillClass}>{skill}</span>)}
  </div>
</div> -->
