---
import connectinkImg from "../assets/connectink.jpeg";
import horariosImg from "../assets/horariosdecolectivo.png";
import carreraImg from "../assets/carrera.png";
import villaImg from "../assets/villa.png";
import outletSaleImg from "../assets/outletsale.png";
import localesImg from "../assets/locales.png";


const PROJECTS = [

{
    year: 2024,
    title: "https://www.montagne.com.ar/",
    description: "As a Full Stack Web Developer at Montagne Outdoors SA, I develop and manage dynamic landing pages using a tech stack that includes PHP, JavaScript, SQL, HTML, and CSS. My work enhances user engagement and site navigation, integrating custom development, responsive design, and performance optimization for improved e-commerce functionality. You can view examples of my work at:",
    links: [

    {
        url: "https://www.montagne.com.ar/locales-outlets",
        image: localesImg.src
      },

      {
        url: "https://www.montagne.com.ar/carreras/",
        image: carreraImg.src
      },
      {
        url: "https://www.montagne.com.ar/carreras/villa-la-angostura/",
        image: villaImg.src
      },
      {
        url: "https://www.montagne.com.ar/eventos/2024/outletsale-marzo/",
        image: outletSaleImg.src
      },
     
    ],
    tags: [
      "PHP",
      "JavaScript",
      "SQL",
      "HTML",
      "CSS",
      "Smarty",
      "PrestaShop",
      "Responsive Design",
    ],
  },

  {
    year: 2023,
    title: "https://connectink.vercel.app/",
    description:
      "ConnectINK is an innovative platform that revolutionizes how tattoo enthusiasts, clients, and artists connect. This social network allows users to explore local or distant tattoo artists' work, follow their updates, and easily book appointments. It incorporates typical social networking features such as commenting, saving favorites, and booking sessions. Payments are streamlined through MercadoPago for secure booking transactions, with email confirmations sent upon appointment scheduling. Appointments can be modified or canceled as needed. Developed using React and JavaScript, the platform leverages Redux Toolkit for state management and Next.js for framework support, enabling efficient deployment on Vercel. The backend is powered by Node.js, with Express handling API requests and Sequelize as the ORM. PostgreSQL is used for database management, hosted on Railway. TailwindCSS enhances the UI design, while Cloudinary supports image uploads.",
    github: "https://github.com/1991facundo/ConnectInk",
    image: connectinkImg.src,
    tags: [
      "React.js",
      "Redux",
      "Next.js",
      "TailwindCSS",
      "JavaScript",
      "HTML",
      "CSS",
      "Node.js",
      "Express",
      "PostgreSQL",
      "Sequelize",
      "Cloudinary",
    ],
    Demo: "https://youtu.be/g8iIK1iHBBQ?si=tH3Rd-HFc9452JGP",
  },
 
  {
    year: 2023,
    title: "https://horariodecolectivos.com.ar/",
    description:
      "I developed a custom WordPress theme specifically designed to improve both navigation and accessibility, creating a user-friendly experience tailored to the needs of the audience. Utilizing WordPress hooks, I customized site functionalities to better serve user interactions and workflow efficiency. This customization extended to integration with essential plugins and widgets that enhance user engagement and site performance. Additionally, I collaborated closely with an SEO professional to optimize the website for search engines, ensuring that content and structure were aligned with best practices in SEO. This partnership was pivotal in devising effective monetization strategies, such as targeted advertising and optimized keyword usage, which significantly increased traffic and revenue potential. Together, these efforts made the site not only more accessible and navigable for users but also more profitable and visible in a competitive digital landscape",
    image: horariosImg.src,
    tags: [
      "Wordpress",
      "PHP",
      "HTML",
      "CSS",
      "JavaScript",
      "SEO",
    ],
    link: "https://horariodecolectivos.com.ar/",
  },


];
---

{
  PROJECTS.map((project) => (
    <article class="relative group p-4 md:p-6 text-white">
      <h3 class="text-xl md:text-2xl font-semibold mb-2 text-[#48d9e6]">
       <span>{project.title}</span> 
      </h3>
      <p class="text-md md:text-lg mb-2 text-gray-400">{project.year}</p>
      <p class="text-base md:text-lg mb-4 text-pretty">{project.description}</p>
      
     
     {project.links && (
        <div class="flex flex-wrap md:flex-nowrap justify-between gap-4 mb-4">
          {project.links.map(link => (
            <div class="w-full md:w-1/3 group relative">  
              <a href={link.url} target="_blank" rel="noopener noreferrer">
                <img class="rounded-xl shadow-lg cursor-pointer h-64 object-cover w-full border-4 border-gray-800 shadow-gray-500/80" src={link.image} alt="Project link image" style={{ height: '250px' }} />
                <div class="absolute inset-0 bg-gray-600 bg-opacity-85 opacity-0 hover:opacity-100 rounded-xl flex items-center justify-center">
                  <p class="text-white text-lg md:text-xl font-bold border-4 p-3 md:p-4 bg-black rounded-lg">Visit the Site</p>
                </div>
              </a>
            </div>
          ))}
        </div>
      )}

      {project.Demo && (
        <div class="relative">
          <a href={project.Demo} target="_blank" rel="noopener noreferrer">
            <img class="rounded-3xl shadow-xl cursor-pointer w-full border-4 border-gray-800 shadow-gray-500/80" src={project.image} alt="ConnectINK demo link" />
            <div class="absolute inset-0 bg-gray-600 bg-opacity-85 opacity-0 hover:opacity-100 rounded-3xl flex items-center justify-center">
              <p class="text-white text-lg md:text-xl font-bold border-4 p-3 md:p-4 bg-black rounded-lg">Watch the Demo</p>
            </div>
          </a>
        </div>
      )}

      {project.link && (
        <div class="relative">
          <a href={project.link} target="_blank" rel="noopener noreferrer">
            <img class="rounded-3xl shadow-xl cursor-pointer w-full border-4 border-gray-800 shadow-gray-500/80" src={project.image} alt="Horarios de Colectivos site link" />
            <div class="absolute inset-0 bg-gray-600 bg-opacity-85 opacity-0 hover:opacity-100 rounded-3xl flex items-center justify-center">
              <p class="text-white text-lg md:text-xl font-bold border-4 p-3 md:p-4 bg-black rounded-lg">Visit the Site</p>
            </div>
          </a>
        </div>
      )}

      {project.tags && project.tags.length > 0 && (
        <div class="flex flex-wrap mt-4 text-pretty">
          {project.tags.map(tag => (
            <span class="mr-2 mb-2 md:mb-0">#{tag}</span>
          ))}
        </div>
      )}

      {project.github && (
        <div class="flex mt-2 text-pretty">
          <a href={project.github} target="_blank" rel="noopener noreferrer" class="flex items-center text-gray-400 hover:text-white transition">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="w-6 h-6 mr-1"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 0a8 8 0 0 0-2.534 15.59c.4.075.546-.174.546-.385 0-.19-.007-.692-.01-1.36-2.002.364-2.623-.49-2.8-.94-.094-.238-.506-.94-.86-1.13-.294-.133-.714-.46-.012-.466.662-.004 1.135.608 1.29.854.753 1.29 1.96.92 2.44.7.075-.544.29-.92.53-1.13-1.86-.21-3.81-.93-3.81-4.12 0-.91.32-1.66.854-2.24-.083-.21-.37-1.06.083-2.21 0 0 .7-.224 2.3.86a7.47 7.47 0 0 1 2-.27 7.47 7.47 0 0 1 2 .27c1.6-1.08 2.3-.86 2.3-.86.46 1.15.17 2.01.083 2.21.53.58.854 1.33.854 2.24 0 3.19-1.95 3.91-3.81 4.11.3.26.54.775.54 1.56 0 1.13-.01 2.04-.01 2.31 0 .21.14.46.55.38A8.006 8.006 0 0 0 8 0z"
              />
            </svg>
            GitHub
          </a>
        </div>
      )}
    </article>
  ))
}
