---
import connectinkImage from "../assets/connectink.jpeg";

const PROJECTS = [
  {
    year: 2023,
    title: "ConnectINK",
    description:
      "This groundbreaking platform revolutionizes how tattoo artists and enthusiasts connect. It offers a unique space for artists to display their work, manage schedules, and connect with clients, who in turn can easily browse, appreciate, and book tattoo sessions. I utilized React.js and Next.js to develop an intuitive and engaging user interface, ensuring a seamless and enjoyable user experience. My focus was on crafting a visually appealing design using Tailwind CSS, making the platform not only attractive but also responsive and accessible across various devices. A key part of my responsibilities included integrating Redux Toolkit for efficient state management, which significantly enhanced the app's performance. My contribution to ConnectInk was to create a functional, user-friendly, and aesthetically pleasing platform, fostering a meaningful and efficient connection between tattoo artists and their clients.",
    link: "https://connectink.vercel.app/",
    github: "https://github.com/1991facundo/ConnectInk",
    image: connectinkImage.src,
    tags: [
      "React.js",
      "Redux",
      "Next.js",
      "TailwindCSS",
      "JavaScript",
      "HTML",
      "CSS",
      "Node.js",
      "Express",
      "PostgreSQL",
      "Sequelize",
      "Cloudinary",
      "Firebase",
    ],
    Demo: "https://youtu.be/g8iIK1iHBBQ?si=tH3Rd-HFc9452JGP",
  },

  {
    year: 2023,
    title: "Pokémon API UI",
    description:
      "This application is a fusion of childhood nostalgia for Pokémon and my passion for coding. Developed with React.js, it features an interactive Pokédex and a unique feature for creating custom Pokémon. The UI, enhanced by Tailwind CSS, ensures a responsive and engaging experience. With Redux for state management, and a backend powered by Node.js, Express, PostgreSQL, and Sequelize, the platform is both robust and user-friendly. This project not only reconnects users with their cherished Pokémon memories but also showcases modern web development's capabilities in creating immersive experiences. My aim was to blend the magic of Pokémon with cutting-edge technology, providing a platform that is both nostalgic and forward-looking, appealing to fans across generations.",
    github: "https://github.com/1991facundo/PI-Pokemon-1991facundo",
    tags: [
      "React.js",
      "Redux",
      "JavaScript",
      "HTML",
      "CSS",
      "Node.js",
      "Express",
      "PostgreSQL",
      "Sequelize"
    ],
    Demo: "https://youtu.be/hH3D6g3d4eM?si=_uv1iGwYHA0_5NwP",
  },

   {
    year: 2023,
    title: "Rick and Morty API UI",
    description:
      "This Rick and Morty API UI project, my first foray into full-stack development, orbits around the cosmic adventure of web programming. Leveraging the same powerful stack—React.js, Redux, JavaScript, HTML, CSS, Node.js, Express, PostgreSQL, and Sequelize—I created a portal to the universe of Rick and Morty. The application serves as a galactic hub where fans can explore characters, locations, and episodes from the show, all within a user interface designed to mirror the quirky, interdimensional vibe of Rick and Morty. Enhanced by Tailwind CSS, the design is not only visually striking but also responsive, ensuring a seamless journey across devices. This project was a space-time continuum of learning and creativity, aiming to provide an engaging platform for fans to dive deep into the show's lore, while showcasing the potential of modern web technologies to bring beloved universes to life.",
    tags: [
      "React.js",
      "Redux",
      "JavaScript",
      "HTML",
      "CSS",
      "Node.js",
      "Express",
      "PostgreSQL",
      "Sequelize"
    ],
    Demo: "https://youtu.be/NAoxIF0anAs?si=fzMxqgOw5vHR2mRe",
  },

  {
    year:2022,
    title: "Marketing Agency website",
    github: "https://github.com/1991facundo/final-diplomado-frontEnd-Utn",
    description:
      "This Rick and Morty API UI project, my first foray into full-stack development, orbits around the cosmic adventure of web programming. Leveraging the same powerful stack—React.js, Redux, JavaScript, HTML, CSS, Node.js, Express, PostgreSQL, and Sequelize—I created a portal to the universe of Rick and Morty. The application serves as a galactic hub where fans can explore characters, locations, and episodes from the show, all within a user interface designed to mirror the quirky, interdimensional vibe of Rick and Morty. Enhanced by Tailwind CSS, the design is not only visually striking but also responsive, ensuring a seamless journey across devices. This project was a space-time continuum of learning and creativity, aiming to provide an engaging platform for fans to dive deep into the show's lore, while showcasing the potential of modern web technologies to bring beloved universes to life.",
    tags: [
      "HTML",
      "CSS",
      "JavaScript",
      "Bootstrap"
    ],
    link: "https://facundofernandez-final-utn-bootstrap.netlify.app/",
  },

  {
    year:2022,
    title: "Barcade website",
    github: "https://github.com/1991facundo/Barcade-LandingAndFormResponsive",
    description:
      "This Rick and Morty API UI project, my first foray into full-stack development, orbits around the cosmic adventure of web programming. Leveraging the same powerful stack—React.js, Redux, JavaScript, HTML, CSS, Node.js, Express, PostgreSQL, and Sequelize—I created a portal to the universe of Rick and Morty. The application serves as a galactic hub where fans can explore characters, locations, and episodes from the show, all within a user interface designed to mirror the quirky, interdimensional vibe of Rick and Morty. Enhanced by Tailwind CSS, the design is not only visually striking but also responsive, ensuring a seamless journey across devices. This project was a space-time continuum of learning and creativity, aiming to provide an engaging platform for fans to dive deep into the show's lore, while showcasing the potential of modern web technologies to bring beloved universes to life.",
    tags: [
      "HTML",
      "CSS",
    ],
    link: "https://facundofernandez-land-form.netlify.app/",
  },
];
---

{
  PROJECTS.map((project) => (
    <article class="relative group p-4 md:p-6 text-white">
      <h3 class="text-xl md:text-2xl font-semibold mb-2 text-[#48d9e6]">
        {project.title}
      </h3>
      <p class="text-base md:text-lg mb-4 text-pretty">{project.description}</p>
      <div class="relative">
        <a href={project.link} class="block">
          <img
            class="rounded-3xl shadow-xl shadow-white/10 cursor-pointer w-full"
            src={project.image}
            alt="ConnectInk image"
          />
          <div class="absolute inset-0 bg-gray-600 bg-opacity-85 opacity-0 group-hover:opacity-100 rounded-3xl flex items-center justify-center">
            <p class="text-white text-lg md:text-xl font-bold border-4 p-3 md:p-4 bg-black rounded-lg">
              Click to visit site
            </p>
          </div>
        </a>
      </div>
      <div class="flex flex-wrap mt-4 text-pretty">
        {project.tags.map((tag) => (
          <span class="mr-2 mb-2 md:mb-0">#{tag}</span>
        ))}
      </div>
    </article>
  ))
}
